# XML, HTML, and Web Scraping

JSON and XML are two different ways to represent hierarchical data. Which one is better? There are lots of articles online which discuss similarities and differences between JSON and XML and their advantages and disadvantages. Both formats are still in current usage, so it is good to be familiar with both. However, JSON is more common, so we'll focus on working with JSON representations of hierarchical data.

The reading covered an example of using Beautiful Soup to parse XML. Rather than doing another example XML now, we'll skip straight to scraping HTML from a webpage. Both HTML and XML can be parsed in a similar way with Beautiful Soup.

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [3]:
import pandas as pd

## Scraping an HTML table with Beautiful Soup

Open the URL https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population and scroll down until you see a table of the cities in the U.S. with population over 100,000 (as of Jul 1, 2022). We'll use Beautiful Soup to scrape information from this table.

Read in the HTML from the ULR using the `requests` library.

In [4]:
import requests
response = requests.get("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population#Locations_of_50_most_populous_cities")

Use Beautiful Soup to parse this string into a tree called `soup`

In [5]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

To find an HTML tag corresponding to a specific element on a webpage, right-click on it and choose "Inspect element". Go to the cities table Wikipedia page and do this now.

You should find that the cities table on the Wikipedia page corresponds to the element

```
<table class="wikitable sortable jquery-tablesorter" style="text-align:center">
```

There are many `<table>` tags on the page.

In [6]:
len(soup.find_all("table"))

14

We can use attributes like `class=` and `style=` to narrow down the list.

In [7]:
len(soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  ))

3

At this point, you can manually inspect the tables on the webpage to find that the one we want is the first one (see `[0]` below). We'll store this as `table`.

In [8]:
table = soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  )[0]

**Now you will write code to scrape the information in `table` to create a Pandas data frame with one row for each city and columns for: city, state, population (2022 estimate), and 2020 land area (sq mi).** Refer to the Notes/suggestions below as you write your code. A few Hints are provided further down, but try coding first before looking at the hints.

Notes/suggestions:

- Use as a guide the code from the reading that produced the data frame of Statistics faculty
- Inspect the page source as you write your code
- You will need to write a loop to get the information for all cities, but you might want to try just scraping the info for New York first
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `.get_text(strip = True)` instead of `.text`
- Don't forget to convert to a Pandas Data Frame; it should have 333 rows and 4 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it --- e.g., what is the population density for all cities in CA? --- then you would need to clean the data first (to clean strings and convert to quantitative). (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [9]:
# YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

In [10]:
# initialize an empty list
rows = []

# iterate over all rows in the faculty table
for cities in table.find_all("tr")[1:]:

    # Get all the cells (<td>) in the row.
    cells = cities.find_all("td")

    # The information we need is the text between tags.


    city_tag = cells[0].find("a") or cells[0]
    city = city_tag.text

    state_tag = cells[1].find("a") or cells[1]
    state = state_tag.text

    pop_tag = cells[2].find("td") or cells[2]
    population = pop_tag.get_text(strip = True)

    land_tag = cells[5].find("td") or cells[5]
    area = land_tag.get_text(strip = True)

    # Append this data.
    rows.append({
        "city": city,
        "state": state,
        "2022 estimate": population,
        "2020 land area": area
    })

In [11]:
pd.DataFrame(rows)

            city          state 2022 estimate 2020 land area
0       New York       New York     8,335,897    300.5 sq mi
1    Los Angeles     California     3,822,238    469.5 sq mi
2        Chicago       Illinois     2,665,039    227.7 sq mi
3        Houston          Texas     2,302,878    640.4 sq mi
4        Phoenix        Arizona     1,644,409    518.0 sq mi
..           ...            ...           ...            ...
328       Albany       New York       100,826     21.4 sq mi
329     Hesperia     California       100,744     72.7 sq mi
330  New Bedford  Massachusetts       100,682     20.0 sq mi
331    Davenport           Iowa       100,486     63.8 sq mi
332    Daly City     California       100,007      7.6 sq mi

[333 rows x 4 columns]

Hints:

- Each city is a row in the table; find all the `<tr>` tags to find all the cities
- Look for the `<td>` tag to see table entries within a row
- The rank column is represented by `<th>` tags, rather than `<td>` tags. So within a row, the first (that is, `[0]`) `<td>` tag corresponds to the city name.

## Aside: Scraping an HTML table with Pandas

The Pandas command `read_html` can be used to scrape information from an HTML table on a webpage.

We can call `read_html` on the URL.

In [12]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

[                                                   0
 0           Map all coordinates using: OpenStreetMap
 1  Download coordinates as: KML GPX (all coordina...,
                     Population tables of U.S. cities
 0                                             Cities
 1  Population AreaDensityEthnic identityForeign-b...
 2                                        Urban areas
 3             Populous cities and metropolitan areas
 4                                 Metropolitan areas
 5  563 primary statistical areas175 combined stat...
 6                                        Megaregions
 7  See related population listsNorth American met...
 8  .mw-parser-output .navbar{display:inline;font-...,
                                                    0
 0  Map this section's coordinates using: OpenStre...
 1  Download coordinates as: KML GPX (all coordina...,
     0                               1
 0 NaN                   State capital
 1 NaN              State largest city
 2 NaN  State capital and largest city
 3 NaN                 Federal capital,
      2022 rank         City       State[c]  2022 estimate  2020 census  \
 0            1  New York[d]       New York        8335897      8804190
 1            2  Los Angeles     California        3822238      3898747
 2            3      Chicago       Illinois        2665039      2746388
 3            4      Houston          Texas        2302878      2304580
 4            5      Phoenix        Arizona        1644409      1608139
 ..         ...          ...            ...            ...          ...
 328        329       Albany       New York         100826        99224
 329        330     Hesperia     California         100744        99818
 330        331  New Bedford  Massachusetts         100682       101079
 331        332    Davenport           Iowa         100486       101724
 332        333    Daly City     California         100007       104901

      Change 2020 land area 2020 land area.1 2020 population density  \
 0    −5.32%    300.5 sq mi        778.3 km2            29,298/sq mi
 1    −1.96%    469.5 sq mi      1,216.0 km2             8,304/sq mi
 2    −2.96%    227.7 sq mi        589.7 km2            12,061/sq mi
 3    −0.07%    640.4 sq mi      1,658.6 km2             3,599/sq mi
 4    +2.26%    518.0 sq mi      1,341.6 km2             3,105/sq mi
 ..      ...            ...              ...                     ...
 328  +1.61%     21.4 sq mi         55.4 km2             4,637/sq mi
 329  +0.93%     72.7 sq mi        188.3 km2             1,373/sq mi
 330  −0.39%     20.0 sq mi         51.8 km2             5,054/sq mi
 331  −1.22%     63.8 sq mi        165.2 km2             1,594/sq mi
 332  −4.67%      7.6 sq mi         19.7 km2            13,803/sq mi

     2020 population density.1  \
 0                  11,312/km2
 1                   3,206/km2
 2                   4,657/km2
 3                   1,390/km2
 4                   1,199/km2
 ..                        ...
 328                 1,790/km2
 329                   530/km2
 330                 1,951/km2
 331                   615/km2
 332                 5,329/km2

                                               Location
 0    .mw-parser-output .geo-default,.mw-parser-outp...
 1                34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2                  41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3                  29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4                33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..                                                 ...
 328                42°40′N 73°48′W﻿ / ﻿42.67°N 73.80°W
 329              34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
 330                41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
 331                41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W
 332              37°41′N 122°28′W﻿ / ﻿37.69°N 122.47°W

 [333 rows x 11 columns],
         Population  Number of municipal governments
 0       1,000,000+                                9
 1  700,000–999,999                               10
 2  500,000–699,999                               18
 3  400,000–499,999                               11
 4  300,000–399,999                               21
 5  200,000–299,999                               56
 6  100,000–199,999                              208
 7            Total                              333,
                                          State  Number of listed cities
 0                                           CA                       75
 1                                           TX                       42
 2                                           FL                       22
 3                                       AZ, CO                       12
 4                                           NC                       10
 5                                       MA, WA                        9
 6                                       GA, IL                        8
 7                                   MI, NJ, VA                        7
 8                       MO, IN, NY, OH, OR, TN                        6
 9                           AL, CT, KS, NV, UT                        5
 10                                      LA, OK                        4
 11                  IA, ID, MN, NM, PA, SC, WI                        3
 12                                      KY, NE                        2
 13  AK, AR, DC, HI, MD, MS, MT, ND, NH, RI, SD                        1
 14                          DE, ME, VT, WV, WY                        0,
                                                    0
 0  Map this section's coordinates using: OpenStre...
 1  Download coordinates as: KML GPX (all coordina...,
    2022 rank Municipio  2022 estimate  2020 census  Change 2020 land area  \
 0          1  San Juan         334776       342259  −2.19%     39.8 sq mi
 1          2   Bayamón         181577       185187  −1.95%     27.0 sq mi
 2          3  Carolina         151571       154815  −2.10%     20.7 sq mi
 3          4     Ponce         132138       137491  −3.89%     28.4 sq mi
 4          5    Caguas         125136       127244  −1.66%     10.9 sq mi

   2020 land area.1 2020 population density 2020 population density.1  \
 0        103.1 km2             8,599/sq mi                 3,320/km2
 1         69.9 km2             6,859/sq mi                 2,648/km2
 2         53.6 km2             7,479/sq mi                 2,888/km2
 3         73.6 km2             4,841/sq mi                 1,869/km2
 4         28.2 km2            11,674/sq mi                 4,507/km2

                               Location
 0  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W  ,
                                                    0
 0  Map this section's coordinates using: OpenStre...
 1  Download coordinates as: KML GPX (all coordina...,
    Census-designated place       State  2020 census  2010 census    Change  \
 0                Arlington    Virginia       238643       207627   +14.94%
 1               Enterprise      Nevada       221831       108481  +104.49%
 2            Spring Valley      Nevada       215597       178395   +20.85%
 3            Sunrise Manor      Nevada       205618       189372    +8.58%
 4                 Paradise      Nevada       191238       223167   −14.31%
 5                 Metairie   Louisiana       143507       138481    +3.63%
 6         East Los Angeles  California       118786       126496    −6.10%
 7                  Brandon     Florida       114626       103483   +10.77%
 8            The Woodlands       Texas       114436        93847   +21.94%
 9             Lehigh Acres     Florida       114287        86784   +31.69%
 10             Spring Hill     Florida       113568        98621   +15.16%
 11               Riverview     Florida       107396        71050   +51.16%
 12                Columbia    Maryland       104681        99615    +5.09%
 13         Highlands Ranch    Colorado       103444        96713    +6.96%

    2020 land area 2020 land area.1 2020 population density  \
 0      26.0 sq mi       67.340 km2             9,179/sq mi
 1      66.0 sq mi      170.939 km2             3,361/sq mi
 2      35.5 sq mi       91.945 km2             6,073/sq mi
 3      33.7 sq mi       87.283 km2             6,101/sq mi
 4      42.4 sq mi      109.815 km2             4,510/sq mi
 5      23.3 sq mi       60.347 km2             6,159/sq mi
 6       7.5 sq mi       19.425 km2            15,838/sq mi
 7      33.1 sq mi       85.729 km2             3,463/sq mi
 8      43.3 sq mi      112.146 km2             2,643/sq mi
 9      92.7 sq mi      240.092 km2             1,233/sq mi
 10     59.9 sq mi      155.140 km2             1,896/sq mi
 11     46.2 sq mi      119.657 km2             2,325/sq mi
 12     31.9 sq mi       82.621 km2             3,282/sq mi
 13     24.3 sq mi       62.937 km2             4,257/sq mi

    2020 population density.1                               Location
 0                  3,544/km2    38°53′N 77°06′W﻿ / ﻿38.88°N 77.10°W
 1                  1,298/km2  36°01′N 115°14′W﻿ / ﻿36.01°N 115.23°W
 2                  2,345/km2  36°06′N 115°16′W﻿ / ﻿36.10°N 115.26°W
 3                  2,356/km2  36°11′N 115°03′W﻿ / ﻿36.18°N 115.05°W
 4                  1,740/km2  36°05′N 115°08′W﻿ / ﻿36.09°N 115.14°W
 5                  2,378/km2    30°00′N 90°11′W﻿ / ﻿30.00°N 90.18°W
 6                  6,115/km2  34°02′N 118°10′W﻿ / ﻿34.03°N 118.17°W
 7                  1,337/km2    27°56′N 82°18′W﻿ / ﻿27.94°N 82.30°W
 8                  1,020/km2    30°10′N 95°31′W﻿ / ﻿30.17°N 95.51°W
 9                    476/km2    26°37′N 81°38′W﻿ / ﻿26.61°N 81.64°W
 10                   732/km2    28°29′N 82°32′W﻿ / ﻿28.48°N 82.53°W
 11                   898/km2    27°49′N 82°18′W﻿ / ﻿27.82°N 82.30°W
 12                 1,267/km2    39°12′N 76°52′W﻿ / ﻿39.20°N 76.86°W
 13                 1,644/km2  39°32′N 104°58′W﻿ / ﻿39.54°N 104.97°W  ,
                 City          State  2022 estimate  2020 census  \
 0          Allegheny   Pennsylvania            NaN          NaN
 1           Brooklyn       New York            NaN          NaN
 2             Camden     New Jersey        70996.0      71791.0
 3             Canton           Ohio        69671.0      70872.0
 4     Citrus Heights     California        86433.0      87583.0
 5   Clinton Township       Michigan        99448.0     100513.0
 6             Duluth      Minnesota        86619.0      86697.0
 7               Erie   Pennsylvania        93511.0      94831.0
 8         Fall River  Massachusetts        93682.0      94000.0
 9        Federal Way     Washington        97863.0     101030.0
 10             Flint       Michigan        79854.0      81252.0
 11              Gary        Indiana        67972.0      69093.0
 12           Hammond        Indiana        76575.0      77879.0
 13           Livonia       Michigan        93779.0      95535.0
 14          Longmont       Colorado        98687.0      98885.0
 15     Niagara Falls       New York        47993.0      48671.0
 16           Norwalk     California        98537.0     102773.0
 17             Parma           Ohio        79358.0      81146.0
 18        Portsmouth       Virginia        97029.0      97915.0
 19           Reading   Pennsylvania        94858.0      95112.0
 20           Roanoke       Virginia        97847.0     100011.0
 21          Scranton   Pennsylvania        75848.0      76328.0
 22        Somerville  Massachusetts        79762.0      81045.0
 23        St. Joseph       Missouri        70656.0      72473.0
 24           Trenton     New Jersey        89661.0      90871.0
 25             Utica       New York        64081.0      65283.0
 26        Wilmington       Delaware        71569.0      70898.0
 27        Youngstown           Ohio        59144.0      60068.0

     Peak population Percent decline from  peak population  \
 0            129896                                   NaN
 1            806343                                   NaN
 2            124555                               −42.36%
 3            116912                               −39.38%
 4            107439                               −18.48%
 5            100513                                   NaN
 6            107312                               −19.21%
 7            138440                               −31.50%
 8            120485                               −21.98%
 9            101030                                   NaN
 10           196940                               −58.74%
 11           178320                               −61.25%
 12           111698                               −30.28%
 13           110109                               −13.24%
 14           100758                                −1.86%
 15           102394                               −52.47%
 16           105549                                −2.63%
 17           100216                               −19.03%
 18           114773                               −14.69%
 19           111171                               −14.45%
 20           100220                                −0.21%
 21           143333                               −46.75%
 22           103908                               −22.00%
 23           102979                               −29.62%
 24           128009                               −29.01%
 25           101740                               −35.83%
 26           112504                               −36.98%
 27           170002                               −64.67%

                                                 Notes
 0   Peak as an independent city, annexed by Pittsb...
 1   Peak as an independent city, consolidated with...
 2                    Peak in 1950, −1.11% since 2020.
 3                    Peak in 1950, −1.69% since 2020.
 4                    Peak in 1990, −1.31% since 2020.
 5                    Peak in 2020, −1.06% since 2020.
 6                    Peak in 1960, −0.09% since 2020.
 7                    Peak in 1960, −1.39% since 2020.
 8                    Peak in 1920, −0.34% since 2020.
 9                    Peak in 2020, −3.13% since 2020.
 10                   Peak in 1960, −1.72% since 2020.
 11                   Peak in 1960, −1.62% since 2020.
 12                   Peak in 1960, −1.67% since 2020.
 13                   Peak in 1970, −1.84% since 2020.
 14   Peak in 2021 (estimate only), −0.20% since 2020.
 15                   Peak in 1960, −1.39% since 2020.
 16                   Peak in 2010, −4.12% since 2020.
 17                   Peak in 1970, −2.20% since 2020.
 18                   Peak in 1960, −0.90% since 2020.
 19                   Peak in 1930, −0.27% since 2020.
 20                   Peak in 1980, −2.16% since 2020.
 21                   Peak in 1930, −0.63% since 2020.
 22                   Peak in 1930, −1.58% since 2020.
 23  Official peak in 1900, but there is evidence t...
 24                   Peak in 1950, −1.33% since 2020.
 25                   Peak in 1930, −1.84% since 2020.
 26                   Peak in 1940, +0.95% since 2020.
 27                   Peak in 1930, −1.54% since 2020.  ,
   vteThe 100 most populous cities of the United States  \
 0  New York, New York Los Angeles, California Chi...
 1                                                NaN
 2  Cities ranked by United States Census Bureau p...

   vteThe 100 most populous cities of the United States.1  \
 0  New York, New York Los Angeles, California Chi...
 1  New York, New York Los Angeles, California Chi...
 2  Cities ranked by United States Census Bureau p...

                                           Unnamed: 2  \
 0                                                NaN
 1  Portland, Oregon Detroit, Michigan Louisville,...
 2                                                NaN

                                           Unnamed: 3  \
 0                                                NaN
 1  Aurora, Colorado Tampa, Florida New Orleans, L...
 2                                                NaN

                                           Unnamed: 4
 0                                                NaN
 1  Chandler, Arizona Chula Vista, California Buff...
 2                                                NaN  ,
     0                                                  1  \
 0 NaN  New York, New York Los Angeles, California Chi...

                                                    2  \
 0  Portland, Oregon Detroit, Michigan Louisville,...

                                                    3  \
 0  Aurora, Colorado Tampa, Florida New Orleans, L...

                                                    4
 0  Chandler, Arizona Chula Vista, California Buff...  ]

However, this scrapes all the tables on the webpage, not just the one we want. As with Beautiful Soup, we can narrow the search by specifying the table attributes.

In [13]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable sortable', "style": "text-align:center"})

[     2022 rank         City       State[c]  2022 estimate  2020 census  \
 0            1  New York[d]       New York        8335897      8804190
 1            2  Los Angeles     California        3822238      3898747
 2            3      Chicago       Illinois        2665039      2746388
 3            4      Houston          Texas        2302878      2304580
 4            5      Phoenix        Arizona        1644409      1608139
 ..         ...          ...            ...            ...          ...
 328        329       Albany       New York         100826        99224
 329        330     Hesperia     California         100744        99818
 330        331  New Bedford  Massachusetts         100682       101079
 331        332    Davenport           Iowa         100486       101724
 332        333    Daly City     California         100007       104901

      Change 2020 land area 2020 land area.1 2020 population density  \
 0    −5.32%    300.5 sq mi        778.3 km2            29,298/sq mi
 1    −1.96%    469.5 sq mi      1,216.0 km2             8,304/sq mi
 2    −2.96%    227.7 sq mi        589.7 km2            12,061/sq mi
 3    −0.07%    640.4 sq mi      1,658.6 km2             3,599/sq mi
 4    +2.26%    518.0 sq mi      1,341.6 km2             3,105/sq mi
 ..      ...            ...              ...                     ...
 328  +1.61%     21.4 sq mi         55.4 km2             4,637/sq mi
 329  +0.93%     72.7 sq mi        188.3 km2             1,373/sq mi
 330  −0.39%     20.0 sq mi         51.8 km2             5,054/sq mi
 331  −1.22%     63.8 sq mi        165.2 km2             1,594/sq mi
 332  −4.67%      7.6 sq mi         19.7 km2            13,803/sq mi

     2020 population density.1  \
 0                  11,312/km2
 1                   3,206/km2
 2                   4,657/km2
 3                   1,390/km2
 4                   1,199/km2
 ..                        ...
 328                 1,790/km2
 329                   530/km2
 330                 1,951/km2
 331                   615/km2
 332                 5,329/km2

                                               Location
 0    .mw-parser-output .geo-default,.mw-parser-outp...
 1                34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2                  41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3                  29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4                33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..                                                 ...
 328                42°40′N 73°48′W﻿ / ﻿42.67°N 73.80°W
 329              34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
 330                41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
 331                41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W
 332              37°41′N 122°28′W﻿ / ﻿37.69°N 122.47°W

 [333 rows x 11 columns],
    2022 rank Municipio  2022 estimate  2020 census  Change 2020 land area  \
 0          1  San Juan         334776       342259  −2.19%     39.8 sq mi
 1          2   Bayamón         181577       185187  −1.95%     27.0 sq mi
 2          3  Carolina         151571       154815  −2.10%     20.7 sq mi
 3          4     Ponce         132138       137491  −3.89%     28.4 sq mi
 4          5    Caguas         125136       127244  −1.66%     10.9 sq mi

   2020 land area.1 2020 population density 2020 population density.1  \
 0        103.1 km2             8,599/sq mi                 3,320/km2
 1         69.9 km2             6,859/sq mi                 2,648/km2
 2         53.6 km2             7,479/sq mi                 2,888/km2
 3         73.6 km2             4,841/sq mi                 1,869/km2
 4         28.2 km2            11,674/sq mi                 4,507/km2

                               Location
 0  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W  ,
    Census-designated place       State  2020 census  2010 census    Change  \
 0                Arlington    Virginia       238643       207627   +14.94%
 1               Enterprise      Nevada       221831       108481  +104.49%
 2            Spring Valley      Nevada       215597       178395   +20.85%
 3            Sunrise Manor      Nevada       205618       189372    +8.58%
 4                 Paradise      Nevada       191238       223167   −14.31%
 5                 Metairie   Louisiana       143507       138481    +3.63%
 6         East Los Angeles  California       118786       126496    −6.10%
 7                  Brandon     Florida       114626       103483   +10.77%
 8            The Woodlands       Texas       114436        93847   +21.94%
 9             Lehigh Acres     Florida       114287        86784   +31.69%
 10             Spring Hill     Florida       113568        98621   +15.16%
 11               Riverview     Florida       107396        71050   +51.16%
 12                Columbia    Maryland       104681        99615    +5.09%
 13         Highlands Ranch    Colorado       103444        96713    +6.96%

    2020 land area 2020 land area.1 2020 population density  \
 0      26.0 sq mi       67.340 km2             9,179/sq mi
 1      66.0 sq mi      170.939 km2             3,361/sq mi
 2      35.5 sq mi       91.945 km2             6,073/sq mi
 3      33.7 sq mi       87.283 km2             6,101/sq mi
 4      42.4 sq mi      109.815 km2             4,510/sq mi
 5      23.3 sq mi       60.347 km2             6,159/sq mi
 6       7.5 sq mi       19.425 km2            15,838/sq mi
 7      33.1 sq mi       85.729 km2             3,463/sq mi
 8      43.3 sq mi      112.146 km2             2,643/sq mi
 9      92.7 sq mi      240.092 km2             1,233/sq mi
 10     59.9 sq mi      155.140 km2             1,896/sq mi
 11     46.2 sq mi      119.657 km2             2,325/sq mi
 12     31.9 sq mi       82.621 km2             3,282/sq mi
 13     24.3 sq mi       62.937 km2             4,257/sq mi

    2020 population density.1                               Location
 0                  3,544/km2    38°53′N 77°06′W﻿ / ﻿38.88°N 77.10°W
 1                  1,298/km2  36°01′N 115°14′W﻿ / ﻿36.01°N 115.23°W
 2                  2,345/km2  36°06′N 115°16′W﻿ / ﻿36.10°N 115.26°W
 3                  2,356/km2  36°11′N 115°03′W﻿ / ﻿36.18°N 115.05°W
 4                  1,740/km2  36°05′N 115°08′W﻿ / ﻿36.09°N 115.14°W
 5                  2,378/km2    30°00′N 90°11′W﻿ / ﻿30.00°N 90.18°W
 6                  6,115/km2  34°02′N 118°10′W﻿ / ﻿34.03°N 118.17°W
 7                  1,337/km2    27°56′N 82°18′W﻿ / ﻿27.94°N 82.30°W
 8                  1,020/km2    30°10′N 95°31′W﻿ / ﻿30.17°N 95.51°W
 9                    476/km2    26°37′N 81°38′W﻿ / ﻿26.61°N 81.64°W
 10                   732/km2    28°29′N 82°32′W﻿ / ﻿28.48°N 82.53°W
 11                   898/km2    27°49′N 82°18′W﻿ / ﻿27.82°N 82.30°W
 12                 1,267/km2    39°12′N 76°52′W﻿ / ﻿39.20°N 76.86°W
 13                 1,644/km2  39°32′N 104°58′W﻿ / ﻿39.54°N 104.97°W  ]

This still returns 3 tables. As we remarked above, the table that we want is the first one (see `[0]` below).

In [14]:
df_cities2 = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable sortable', "style": "text-align:center"})[0]
df_cities2

,2022 rank,City,State[c],2022 estimate,2020 census,Change,2020 land area,2020 land area.1,2020 population density,2020 population density.1,Location
0,1,New York[d],New York,8335897,8804190,−5.32%,300.5 sq mi,778.3 km2,"29,298/sq mi","11,312/km2",".mw-parser-output .geo-default,.mw-parser-outp..."
1,2,Los Angeles,California,3822238,3898747,−1.96%,469.5 sq mi,"1,216.0 km2","8,304/sq mi","3,206/km2",34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
2,3,Chicago,Illinois,2665039,2746388,−2.96%,227.7 sq mi,589.7 km2,"12,061/sq mi","4,657/km2",41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
3,4,Houston,Texas,2302878,2304580,−0.07%,640.4 sq mi,"1,658.6 km2","3,599/sq mi","1,390/km2",29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
4,5,Phoenix,Arizona,1644409,1608139,+2.26%,518.0 sq mi,"1,341.6 km2","3,105/sq mi","1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
...,...,...,...,...,...,...,...,...,...,...,...
328,329,Albany,New York,100826,99224,+1.61%,21.4 sq mi,55.4 km2,"4,637/sq mi","1,790/km2",42°40′N 73°48′W﻿ / ﻿42.67°N 73.80°W
329,330,Hesperia,California,100744,99818,+0.93%,72.7 sq mi,188.3 km2,"1,373/sq mi",530/km2,34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
330,331,New Bedford,Massachusetts,100682,101079,−0.39%,20.0 sq mi,51.8 km2,"5,054/sq mi","1,951/km2",41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
331,332,Davenport,Iowa,100486,101724,−1.22%,63.8 sq mi,165.2 km2,"1,594/sq mi",615/km2,41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W
332,333,Daly City,California,100007,104901,−4.67%,7.6 sq mi,19.7 km2,"13,803/sq mi","5,329/km2",37°41′N 122°28′W﻿ / ﻿37.69°N 122.47°W

Wait, that seemed much easier than using Beautiful Soup, and it returned a data frame, and we even got for free some formatting like removing the commas from the population! Why didn't we just use `read_html` in the first place? It's true the `read_html` works well when scraping information from an HTML *table*. Unfortunately, you often want to scrape information from a webpage that isn't conveniently stored in an HTML table, in which case `read_html` won't work. (It only searches for `<table>`, `<th>`, `<tr>`, and `<td>` tags, but there are many other HTML tags.) Though Beautiful Soup is not as simple as `read_html`, it is more flexible and thus more widely applicable.

## Scraping information that is NOT in a `<table>` with Beautiful Soup

The Cal Poly course catalog http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory contains a list of courses offered by the Statistics department. **You will scrape this website to obtain a Pandas data frame with one row for each DATA or STAT course and two columns: course name and number (e.g, DATA 301. Introduction to Data Science) and term typically offered (e.g., Term Typically Offered: F, W, SP).**

Note: Pandas `read_html` is not help here since the courses are not stored in a `<table>.`

In [15]:
pd.read_html("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

[                                        Program name   Program type
 0                              Actuarial Preparation          Minor
 1  Cross Disciplinary Studies Minor in Bioinforma...          Minor
 2   Cross Disciplinary Studies Minor in Data Science          Minor
 3                                         Statistics  BS, MS, Minor]


Notes/suggestions:


- Inspect the page source as you write your code
- The courses are not stored in a `<table>`. How are they stored?
- You will need to write a loop to get the information for all courses, but you might want to try just scraping the info for DATA 100 first
- What kind of tag is the course name stored in? What is the `class` of the tag?
- What kind of tag is the quarter(s) the course is offered stored in? What is the `class` of the tag? Is this the only tag of this type with the class? How will you get the one you want?
- You don't have to remove the number of units (e.g., 4 units) from the course name and number, but you can try it if you want
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `get_text(strip = True)` instead of `text`
- Don't forget to convert to a Pandas Data Frame; it should have 74 rows and 2 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it then you might need to clean the data first. (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [16]:
# YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

In [17]:
response = requests.get("https://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

soup2 = BeautifulSoup(response.content, "html.parser")

In [18]:
rows = []

# iterate over all rows in the faculty table
for classes in soup2.find_all("div", {"class": "courseblock"}):

    class_tag = classes.find("p", class_="courseblocktitle")
    term_tag = classes.find("p", class_="noindent")

    # Check if class_tag and term_tag are found before extracting text
    if class_tag and term_tag:
        course = class_tag.get_text(strip=True)
        term = term_tag.get_text(strip=True)


    # Append this data.
    rows.append({
        "Course": course,
        "Term Offered": term
    })

pd.DataFrame(rows)

,Course,Term Offered
0,DATA 100. Data Science for All I.4 units,"Term Typically Offered: F, W, SP"
1,DATA 301. Introduction to Data Science.4 units,"Term Typically Offered: F, W, SP"
2,DATA 401. Data Science Process and Ethics.3 units,Term Typically Offered: F
3,DATA 402. Mathematical Foundations of Data Sci...,Term Typically Offered: F
4,DATA 403. Data Science Projects Laboratory.1 unit,Term Typically Offered: F
...,...,...
69,STAT 551. Statistical Learning with R.4 units,Term Typically Offered: F
70,STAT 566. Graduate Consulting Practicum.2 units,Term Typically Offered: SP
71,STAT 570. Selected Advanced Topics.1-4 units,Term Typically Offered: TBD
72,STAT 590. Graduate Seminar in Statistics.1 unit,"Term Typically Offered: F, W, SP"
73,STAT 599. Thesis.1-4 units,Term Typically Offered: TBD

Hints:

- Each course is represented by a `<div>` with `class=courseblock`, so you can find all the courses with `soup.find_all("div", {"class": "courseblock"})`
- The course name is in a `<p>` tag with `class=courseblocktitle`, inside a `<strong>` tag. (Though I don't think we need to find the strong tag here.)
- The term typically offered is in `<p>` tag with `class=noindent`. However, there are several tags with this class; term typically offered is the first one.
- If you want to use Beautiful Soup to remove the course units (e.g., 4 units), find the `<span>` tag within the course name tag and `.extract()` this span tag